name: Super Sincronizador
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del código
        uses: actions/checkout@v3
        with:
          submodules: true
          fetch-depth: 0

      - name: Configurar Git
        run: |
          git config --global user.name "danimoradomate"
          git config --global user.email "daniela.morapz@gmail.com"

      - name: Sincronizar con el Blog
        env:
          LLAVE: ${{ secrets.MI_TOKEN }}
        run: |
          # 1. Clonamos usando el formato correcto para tokens
          git clone https://x-access-token:${LLAVE}@github.com/danimoradomate/darksidehacker.git temp_blog
          
          # 2. Creamos la carpeta de destino si no existe en el otro repo
          mkdir -p temp_blog/assets/img/
          
          # 3. Copiamos los archivos (asegúrate de que la carpeta 'resultados' exista en tu repo actual)
          cp -r resultados/* temp_blog/assets/img/ || echo "No se encontraron archivos en resultados"
          
          # 4. Subimos los cambios
          cd temp_blog
          git add .
          git commit -m "Actualización automática desde el Mega Proyecto" || exit 0
          git push
